/* Type your code here */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
body{
	background-image: url("assets/background-image1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: right;
	background-position-y: bottom;
	background-size: 1000px 650px;
}
#div1{
	background-image: url("assets/background-image1.png");
	background-repeat: no-repeat;
	top: 250px;
	left: 700px;
	width: 800px;
	height: 450px;
	position: absolute;
}
#h1{
	color: black;
	font-family:Arial, Helvetica, sans-serif;
	margin: 60px 80px;
	font-size: 50px;
	font-style: normal;
	font-weight:bolder;
	text-shadow: 3px 3px #616161;
}
#h2{
	color: grey;
	font-size: x-large;
	font-weight:bold;
	margin: -50px 80px;
}
#cricpro{
	margin-top: -150px;
	margin-left: 1606px;
}
table{
	margin: 110px 80px;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 20px;
	font-family: 'Nunito Sans',sans-serif;
	font-weight: bolder	;
	width: 70%;
	height: 40px;
	background-color: white;
	border-collapse: collapse;
	box-shadow: 3px 0 3px 3px grey;
}
th{
	color: white;
}
th,td{
	border-bottom: 3px solid #ddd;
	padding-top: 15px;
	padding-right: 20px;
	text-align:start;
}
.name{
	color:skyblue;
}
.out{
	color: grey;
}
.tbalign{
	text-align: center;
}
/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: -90px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;   
}
/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 750px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}